{% extends 'default/index.html.twig' %}

{% block page %}
{% include 'LearnBlogBundle::nav/blog_nav.html.twig' %}
    {% for article in articles %}
    <div class="article" onclick="window.location.href = '{{ path('learn_project_detail_article', { 'id' : article.id}) }}';">
        <p>{{ article.titre }}<br/>
                {{ article.auteur }} - {{ article.datePublication|date('d/m/Y') }}</p>
    </div>
    {% endfor %}
{% endblock %}