{% extends 'default/index.html.twig' %}

{% block page %}
    <p class="text_accueil">Bienvenue sur Learn project</p>
    <img src="{{ asset('bundles/learnproject/images/logo_symphony2_gl.png') }}" alt="logo symfony" class="image_accueil"/>
{% endblock %}