/* 
    Created on : 16 oct. 2015, 12:03:57
    Author     : frwartel
*/

/* general */
body{
    width: 1024px;
    margin: 0 auto;
}

header{
    border: 1px solid red;
    margin-top: 2%;
    height: 150px;
}

header h1{
    float: left;
    margin-left: 35%;
}

.connexion{
    float: right;
    border: 1px solid red;
    width: 20%;
    height: 125px;
    margin: 1% 1% 0% 0%;
}

.connexion label{
    margin-top: 1%;
    font-size: 100%;
    
}

footer{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    clear: both;
}

.nav{
    float: left;
    width: 20%;
}

.nav aside{
    text-align: center;
}

.article_recent{
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.article_recent:hover{
    transform: scale(1.1);
}

section{
    width: 70%;
    float: right;
    text-align: center;
    margin-bottom: 5%;
    padding: 0px 20px 0px 20px;
}

section, .nav{
    margin-top: 5%;
    height: 550px;
    border: 1px solid red;
}


.article{
    border: 1px solid black;
    cursor: pointer;
    width: 20%;
    height: 200px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}

.article:hover{
    transform: scale(1.1);
}

.error_message{
    color:red;
}

