/* 
    Created on : 16 oct. 2015, 12:03:57
    Author     : frwartel
*/

/*-------------------------------------*/
/*----------BODY-----------------------*/
/*-------------------------------------*/
body{
    width: 1280px;
    margin: 0 auto;
}

/*-------------------------------------*/
/*----------HEADER---------------------*/
/*-------------------------------------*/

header{
    border: 1px solid red;
    margin-top: 1%;
    height: 200px;
    margin-bottom: 1.5%;
}

header h1{
    float: left;
    margin-left: 35%;
}

.connexion{
    float: right;
    border: 1px solid red;
    width: 20%;
    height: 170px;
    margin: 1% 1% 1% 0%;
    text-align: center;
}

.connexion label{
    margin-top: 1%;
    font-size: 100%;
    margin-bottom: 2%;
}

/*-------------------------------------*/
/*----------FOOTER---------------------*/
/*-------------------------------------*/

footer{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    clear: both;
}

/*-------------------------------------*/
/*----------NAV------------------------*/
/*-------------------------------------*/

nav{
    float: left;
    width: 18%;
    margin-right: 2%;
}

.menu_droit{
    width: 100%;
}

.menu_droit ul{
    width: 100%;
    padding: 0;
    margin: 0px;
    border:1px solid; 
}

.menu_droit ul li{
    position: relative;
    list-style-type: none;
    height: 40px;
    background-color: wheat;
    border: 1px solid;
}

.menu_droit ul ul{
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    z-index: 10;
}

.menu_droit li a{
    text-align: center;
    text-decoration: none;
    font-size: 130%;
    color: black;
    display: block;
    width: 100%;
    border-left:10px solid #BBB;
    height: 35px;
    padding: 2% 0 0 0;
}

.menu_droit li a:hover{
    border-left-color: blue;
    color: brown;
    transform: scale(1.1);
}

.menu_droit ul ul li a:hover{
    border-left-color: #5eb5e0;
    color: brown;
    transform: scale(1.1);
}

.menu_droit ul.niveau1 li.sous_menu:hover ul.niveau2{
    display: block;
}

.fleche_menu{
    width: 10%;
    height: 30px;
    float: right;
    margin-right: 5%;
    margin-left: -12%;
}

.menu_article_recent{
    text-align: center;
}

.article_recent{
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.article_recent:hover{
    transform: scale(1.1);
}

/*-------------------------------------*/
/*----------ACCUEIL--------------------*/
/*-------------------------------------*/
.text_accueil{
    font-size: 120%;
    font-weight: bold;
}

.image_accueil{
    margin-top: -3%;
}

/*-------------------------------------*/
/*----------SECTION--------------------*/
/*-------------------------------------*/

section{
    width: 75%;
    float: right;
    text-align: center;
    margin-bottom: 2%;
    padding: 0px 20px 0px 20px;
}

section, nav{
    height: 600px;
    border: 1px solid red;
}


.article{
    border: 1px solid black;
    cursor: pointer;
    width: 20%;
    height: 200px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}

.article:hover{
    transform: scale(1.1);
}

.error_message{
    color:red;
}

